/*common*/
.d-flex {
    display: flex;
}
.j-content-center {
    justify-content: center;
}
.j-content-between {
    justify-content: space-between;
}
.al-center {
    align-items: center;
}
.f-dir-column {
    flex-direction: column;
}
.container {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 20px;
}
.wide-container {
    max-width: 1196px;
}
.block-radius {
    border-radius: 20px;
}
.white-block {
    padding: 36px;
    background-color: white;
}

a {
    font-family: inherit;
    text-decoration: unset;
    color: inherit;
}

body {
    color: white;
    background-color: #2f2e2e;
    font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
button {
    font-family: "Tenor Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 12px;
}
button {
    border: unset;
    outline: unset;
    max-width: fit-content;
    text-wrap: nowrap;
    background-color: transparent;
    transition:
        0.3s background,
        0.3s border,
        0.3s color,
        0.3s box-shadow;
}
.page-button {
    padding: 17px 37px;
    font-size: 10px;
    border-radius: 60px;
}
.white-button {
    background-color: white;
    border: 1px solid transparent;
}
.white-button:hover {
    background-color: transparent;
    border: 1px solid currentColor;
    color: white;
}
.unfilled-button {
    color: black;
    border: 1px solid currentColor;
}
.unfilled-button:hover {
    background-color: white;
    border: 1px solid transparent;
    color: black !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.main-bg {
    background-image: url("../images/background-main.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}
.section__title {
    margin-bottom: 15px;
}
/*header*/
.header {
    padding-block: 20px;
}
.header__nav_list {
    column-gap: 26px;
}
.header__nav_item {
    position: relative;
    overflow-x: hidden;
}
.header__nav_item a:hover::after {
    transform: translateX(0);
}
.header__nav_item a::after {
    content: "";
    transform: translateX(-100%);
    transition: 0.3s transform;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
}
.header__logo {
    font-family: "Tenor Sans", sans-serif;
    font-size: 20px;
}
/*welcome*/
.welcome__content {
    min-height: 90vh;
}
.welcome__content_block {
    height: 100%;
    max-width: 458px;
    margin-inline: auto;
    text-align: center;
    row-gap: 25px;
}
.welcome__text {
    max-width: 246px;
}
/*features*/
.features {
    color: black;
}
.features__left {
    max-width: 420px;
}
.features__left_top {
    row-gap: 23px;
}
.features__left_text {
    max-width: 344px;
}
.features__left_bottom {
    column-gap: 38px;
}
.features__count_digit {
    font-family: "Tenor Sans", sans-serif;
    font-size: 100px;
    color: rgba(1 1 1 / 0.16);
    line-height: 1;
}
.features__count_text {
    margin-bottom: 1.4em;
    font-size: 10px;
}
.features__circles {
    position: relative;
    max-width: 140px;
    width: 100%;
}
.feature__circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.feature__circle:not(:first-child) {
    position: absolute;
}
.feature__circle:nth-child(1) {
    background-image: url("../images/ellipses/ellipse_1.jpg");
}
.feature__circle:nth-child(2) {
    left: 30px;
    background-image: url("../images/ellipses/ellipse_2.jpg");
}
.feature__circle:nth-child(3) {
    left: 60px;
    background-image: url("../images/ellipses/ellipse_3.jpg");
}
.feature__circle:nth-child(4) {
    left: 90px;
    background-image: url("../images/ellipses/ellipse_4.jpg");
}
.features__img {
    min-height: 100%;
    max-width: 319px;
    width: 100%;
    background-image: url("../images/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.features__top {
    margin-bottom: 130px;
}
.features__bottom {
    text-align: center;
}
.features__bottom .features__title {
    max-width: 494px;
}
.features__bottom .features__left_text {
    margin-bottom: 8px;
}
.features .wide-container {
    padding: 0;
    overflow: hidden;
}
.features__top {
    padding: 36px 46px 0;
}
.features__image {
    width: 100%;
    background-image: url("../images/cities.jpg"), linear-gradient(white, transparent);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 30px;
}
.features__image img {
    z-index: 10;
}
.features__image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(white, transparent);
}
/*catalog*/
.catalog {
    margin-top: 80px;
    margin-bottom: 85px;
}
.catalog__top {
    text-align: center;
}
.catalog__text {
    margin-bottom: 54px;
    max-width: 302px;
}
.catalog__products {
    flex-wrap: wrap;
    row-gap: 45px;
    column-gap: 35px;
}
.catalog__product {
    flex: 0 1 33.3%;
    max-width: 330px;
    padding: 28px;
    background-color: #414040;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.catalog__product_img {
    background-image: url("/./images/flat_scheme.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 193px;
}
.catalog__product h3 {
    font-size: 32px;
}
.catalog__product_text {
    margin-bottom: 23px;
    flex-grow: 1;
}
.catalog__product .unfilled-button {
    color: white;
}
/*legendarity*/
.legendarity {
    padding-bottom: 0;
    background-image: url("../images/cities.jpg"), linear-gradient(white, transparent);
    background-repeat: no-repeat;
    background-size: cover;
}
.legendarity__info {
    color: black;
    row-gap: 93px;
    max-width: 548px;
    flex-grow: 1;
    padding-bottom: 50px;
}
.legendarity__info_top .legendarity__title {
    max-width: 377px;
}
.legendarity__text {
    max-width: 340px;
    margin-bottom: 15px;
}
.legendarity__info_features .legendarity__title {
    color: #4b4949;
    line-height: 1;
    max-width: 375px;
}
.legendarity__info_features {
    column-gap: 20px;
}
.legendarity__img {
    margin-right: 50px;
    max-width: 308px;
    align-self: flex-end;
    max-height: 371px;
}
/*footer*/
footer {
    margin-top: 80px;
    padding-bottom: 30px;
}
