/*common*/
.d-flex {
    display: flex;
}
.j-content-center {
    justify-content: center;
}
.j-content-between {
    justify-content: space-between;
}
.al-center {
    align-items: center;
}
.f-dir-column {
    flex-direction: column;
}
.container {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 20px;
}
.wide-container {
    max-width: 1196px;
}
.block-radius {
    border-radius: 20px;
}
.white-block {
    padding: 36px;
    background-color: white;
}

a {
    font-family: inherit;
    text-decoration: unset;
    color: inherit;
}

body {
    color: white;
    background-color: #2f2e2e;
    font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
button {
    font-family: "Tenor Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 12px;
}
input {
    outline: unset;
    border: unset;
    background-color: transparent;
}
button {
    border: unset;
    outline: unset;
    max-width: fit-content;
    text-wrap: nowrap;
    background-color: transparent;
    transition:
        0.3s background,
        0.3s border,
        0.3s color,
        0.3s box-shadow;
}
.page-button {
    padding: 17px 37px;
    font-size: 10px;
    border-radius: 60px;
}
.white-button {
    background-color: white;
    border: 1px solid transparent;
}
.white-button:hover {
    background-color: transparent;
    border: 1px solid currentColor;
    color: white;
}
.unfilled-button {
    color: black;
    border: 1px solid currentColor;
}
.unfilled-button:hover {
    background-color: white;
    border: 1px solid transparent;
    color: black !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.main-bg {
    background-image: url("../images/background-main.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}
.section__title {
    margin-bottom: 15px;
}
/*header*/
.header {
    padding-block: 20px;
}
.header-mobile__logo {
    display: none;
    flex-grow: 1;
}
.header__nav_list {
    column-gap: 26px;
}
.header__nav_item {
    position: relative;
    overflow-x: hidden;
}
.header__nav_item a:hover::after {
    transform: translateX(0);
}
.header__nav_item a::after {
    content: "";
    transform: translateX(-100%);
    transition: 0.3s transform;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
}
.header__logo {
    font-family: "Tenor Sans", sans-serif;
    font-size: 20px;
}
/*welcome*/
.welcome__content {
    min-height: 90vh;
}
.welcome__content_block {
    height: 100%;
    max-width: 458px;
    margin-inline: auto;
    text-align: center;
    row-gap: 25px;
}
.welcome__text {
    max-width: 246px;
}
/*features*/
.features {
    color: black;
}
.features__left {
    max-width: 420px;
}
.features__left_top {
    row-gap: 23px;
}
.features__left_text {
    max-width: 344px;
}
.features__left_bottom {
    column-gap: 38px;
}
.features__count_digit {
    font-family: "Tenor Sans", sans-serif;
    font-size: 100px;
    color: rgba(1 1 1 / 0.16);
    line-height: 1;
    min-width: 184px;
}
.features__count_text {
    margin-bottom: 1.4em;
    font-size: 10px;
}
.features__circles {
    position: relative;
    max-width: 140px;
    width: 100%;
}
.feature__circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.feature__circle:not(:first-child) {
    position: absolute;
}
.feature__circle:nth-child(1) {
    background-image: url("../images/ellipses/ellipse_1.jpg");
}
.feature__circle:nth-child(2) {
    left: 30px;
    background-image: url("../images/ellipses/ellipse_2.jpg");
}
.feature__circle:nth-child(3) {
    left: 60px;
    background-image: url("../images/ellipses/ellipse_3.jpg");
}
.feature__circle:nth-child(4) {
    left: 90px;
    background-image: url("../images/ellipses/ellipse_4.jpg");
}
.features__img {
    min-height: 100%;
    max-width: 319px;
    width: 100%;
    background-image: url("../images/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.features__top {
    margin-bottom: 130px;
}
.features__bottom {
    text-align: center;
}
.features__bottom .features__title {
    max-width: 494px;
}
.features__bottom .features__left_text {
    margin-bottom: 8px;
}
.features .wide-container {
    padding: 0;
    overflow: hidden;
}
.features__top {
    padding: 36px 46px 0;
}
.features__image {
    width: 100%;
    background-image: url("../images/cities.jpg"), linear-gradient(white, transparent);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 30px;
}
.features__image img {
    z-index: 10;
}
.features__image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(white, transparent);
}
/*catalog*/
.catalog {
    margin-top: 80px;
    margin-bottom: 85px;
}
.catalog__top {
    text-align: center;
}
.catalog__text {
    margin-bottom: 54px;
    max-width: 302px;
}
.catalog__products {
    flex-wrap: wrap;
    row-gap: 45px;
    column-gap: 35px;
}
.catalog__product {
    flex: 0 1 33.3%;
    max-width: 330px;
    padding: 28px;
    background-color: #414040;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.catalog__product_img {
    background-image: url("/./images/flat_scheme.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 193px;
}
.catalog__product h3 {
    font-size: 32px;
}
.catalog__product_text {
    margin-bottom: 23px;
    flex-grow: 1;
}
.catalog__product .unfilled-button {
    color: white;
}
/*legendarity*/
.legendarity {
    padding-bottom: 0;
    background-image: url("../images/cities.jpg"), linear-gradient(white, transparent);
    background-repeat: no-repeat;
    background-size: cover;
}
.legendarity__info {
    color: black;
    row-gap: 93px;
    max-width: 548px;
    flex-grow: 1;
    padding-bottom: 50px;
}
.legendarity__info_top .legendarity__title {
    max-width: 377px;
}
.legendarity__text {
    max-width: 340px;
    margin-bottom: 15px;
}
.legendarity__info_features .legendarity__title {
    color: #4b4949;
    line-height: 1;
    max-width: 375px;
}
.legendarity__info_features {
    column-gap: 20px;
}
.legendarity__img {
    margin-right: 50px;
    max-width: 308px;
    align-self: flex-end;
    max-height: 371px;
}
/*footer*/
footer {
    margin-top: 80px;
    padding-bottom: 30px;
}
.footer__copyright {
    font-size: 12px;
    display: none;
}
/*order dialog windows*/
.order-modal {
    padding: 0;
    border: none;
    opacity: 0;
    visibility: hidden;
    border-radius: 24px;
    transition:
        0.3s visibility,
        0.3s opacity;
}
.order-modal__content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.order-modal[open] {
    opacity: 1;
    visibility: visible;
}
.order-modal__input {
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 6px;
    padding: 17px 25px;
}

.order-modal__inputs label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.order-modal__inputs label:not(:last-child) {
    margin-bottom: 20px;
}
.order-modal-button {
    margin-top: 25px;
    flex-grow: 1;
    border-radius: 6px;
    max-width: 100%;
    font-size: 14px;
}
#order-modal-success h2 {
    text-align: center;
}
#order-modal-success .order-modal__content {
    width: 350px;
}

/*adaptive*/

@media (max-width: 1100px) {
    .catalog__products {
        gap: 25px;
    }
    .catalog__product {
        flex-grow: 1;
        max-width: unset;
    }
    .catalog__product_img {
        height: 250px;
    }
}
@media (max-width: 950px) {
    h2 {
        font-size: 22px;
    }
    .legendarity__img {
        max-width: 280px;
        margin-right: 15px;
    }
}
@media (max-width: 860px) {
    form label {
        font-size: 13px;
    }
    form input {
        padding: 15px 18px;
    }
    .order-modal-button {
        font-size: 12px;
    }
    .order-modal__content {
        padding: 40px;
        width: 400px;
    }
    #order-modal-success .order-modal__content {
        width: 250px;
    }
    .features__top {
        margin-bottom: 90px;
    }
    .features__left_top {
        row-gap: 15px;
    }
    .features__img {
        max-width: 270px;
    }
    .features__count_digit {
        font-size: 80px;
    }
    .legendarity__info {
        row-gap: 75px;
    }
    .catalog__product_img {
        height: 27vw;
    }
    .legendarity__img {
        display: none;
    }
    .welcome__content_block {
        row-gap: 15px;
    }
}
@media (max-width: 750px) {
    .container {
        max-width: 650px;
    }
    .features__img {
        display: none;
    }
    .features__left {
        max-width: 100%;
    }
    .features__image img {
        width: 250px;
    }
    .features__top {
        margin-bottom: 60px;
        padding: 35px 35px 0;
    }
    .features__count_digit {
        min-width: 145px;
    }
    .header {
        background-color: white;
        position: fixed;
        left: 0;
        right: 0;
        padding-block: 15px;
        top: 0;
        color: black;
        z-index: 20;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header nav {
        column-gap: 26px;
    }
    .header__logo {
        order: -1;
        flex-grow: 1;
    }
    main {
        margin-top: 60px;
    }
}
@media (max-width: 630px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .welcome__content_block {
        max-width: 350px;
    }
    .header__nav_item a {
        font-size: 14px;
    }
    .features__left_bottom {
        margin-top: 15px;
    }
    .catalog__product {
        padding: 23px;
    }
    .section__title {
        margin-bottom: 8px;
    }
    p {
        font-size: 11px;
    }
}
@media (max-width: 524px) {
    .catalog__product_img {
        height: 53vw;
    }
    .legendarity__info_features {
        flex-direction: column-reverse;
        max-width: 350px;
    }
}
@media (max-width: 450px) {
    .header__logo {
        font-size: 16px;
    }
    .header__nav_item a {
        font-size: 13px;
    }
    .header__nav_list {
        column-gap: 15px;
    }
    .header nav {
        column-gap: 15px;
    }

    main {
        margin-top: 54px;
    }
    footer .header__nav_list {
        display: none;
    }
    .footer__copyright .container {
        align-items: center;
    }
    .footer__copyright {
        display: inline;
        height: fit-content;
        align-self: center;
    }
    .features__top {
        padding: 25px 25px 0;
    }
    .features__image img {
        width: 200px;
    }
    .white-block {
        padding: 25px;
    }
    .legendarity__info {
        padding-bottom: 0;
    }
    .feature__circle {
        height: 40px;
        width: 40px;
    }
    .page-button {
        padding: 15px 25px;
        font-size: 10px;
        border-radius: 30px;
    }
    h1 {
        font-size: 27px;
    }
    .features__count_digit {
        font-size: 70px;
    }
    .welcome__content_block {
        max-width: 310px;
    }
    .features__bottom .features__title,
    .features__bottom .features__left_text {
        padding-inline: 25px;
    }
    .order-modal__content {
        padding: 35px;
    }
    .order-modal__content button {
        border-radius: 6px;
    }
    .order-modal__content {
        width: 340px;
    }
    .order-modal__input {
        padding: 15px 25px;
    }
    .order-modal {
        border-radius: 18px;
    }
}
@media (max-width: 420px) {
    .legendarity__info {
        row-gap: 30px;
    }
    .legendarity__info_features {
        display: none;
    }
    .features__count_digit {
        font-size: 55px;
    }
    h2 {
        font-size: 18px;
    }
    .page-button:not(.order-modal-button) {
        padding: 12px 20px;
        font-size: 9px;
    }
    .features__left_bottom {
        column-gap: 15px;
    }

    .header .header__logo {
        display: none;
    }
    .header-mobile__logo {
        display: block;
    }
    .header__nav_list {
        height: fit-content;
        align-self: center;
    }
    .header {
        padding-block: 10px;
    }
}

@media (max-width: 400px) {
    .features__count_text {
        font-size: 8px;
    }
    .order-modal__content {
        width: 310px;
        padding: 35px 28px;
    }
    .order-modal__input {
        padding: 15px;
    }
}
